<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Claus Enterprises</title>
</head>

<body>

<div th:insert="fragments :: dependencies"></div>
<div th:insert="fragments :: header"></div>

<div class="ui segment">
    <h3 class="ui dividing header">Welcome to Claus Enterprises!</h3>
    <img th:src="@{/pic/welcome.png}" alt="welcome" style="height: 90%; width: 70%;
     display: block;
     margin-left: auto;
     margin-right: auto;">
</div>


<div th:insert="fragments :: scripts"></div>

</body>

</html>