<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Letter has been sent!</title>
</head>

<body>
<div th:insert="fragments :: dependencies"></div>
<div th:insert="fragments :: header"></div>

<div class="ui segment">
    <h3 class="ui dividing header">The e-mail has been sent</h3>
    <div class="ui fluid label" style="text-align: center">
        <span th:text="'Letter for email  ' + ${letter.email} + ' and for a parent with email  ' + ${letter.parentEmail} + ' has been sent'"></span>
    </div>
    <div class="ui fluid label" style="text-align: center">
        <span><a th:href="@{/}">Return to the Main page</a></span>
    </div>
    <div class="ui divider"></div>
</div>


<div th:insert="fragments :: scripts"></div>
</body>

</html>